[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HLAtools"]
	path = HLAtools
	url = https://github.com/sjmack/hlatools
[submodule "pould"]
	path = pould
	url = https://github.com/cran/pould
